* {
    box-sizing: border-box;
}

footer p
{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

footer a {
    color: rgb(31, 31, 211);
}

footer a:hover {
    color:rgb(81, 53, 126);
}

h1, h2 {
    text-align: center;
}

h1 {
    font-family: "Great Vibes";
    font-size: 50px;
    font-weight: lighter;
}

p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 500px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin:0 auto;
    border: 1px solid black;
    font-style: italic;
    font-weight: 100;
  }

.row {
    border: 1px solid black;
    color: #000;
    background-color: #fff;
    width: auto;
    display: flex;
}

.row:first-of-type {
    border-bottom: none;
}

.row-1 {
    max-height: 70%;
}

.row-2 {
    max-height: 30%;
}

.box {
    border: 1px solid #000;
    background-color: inherit;
    height: inherit;
    border-top: none;
}

.box:first-of-type {
    border-left: none;
}

.box:last-of-type {
    border-right: none;
}

.box-25 {
    width: 25%;
    word-wrap: break-word;
}

.box-50 {
    width: 50%;
    word-wrap: break-word;
}

.box-75 {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.column-box {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 20px;
    font-weight: 600;
    font-size: 25px;
}

.column-box:nth-child(1) {
    background-color: #ffb;
}

.column-box:nth-child(2) {
    background-color: #aff;
}

.column-box:nth-child(3) {
    background-color: #8fc;
}

.column-box:nth-child(4) {
    background-color: #8cf;
}

.column-box:nth-child(5) {
    background-color: #aaf;
}

.column-link a {
    text-decoration: none;
    color: #000;
}

.column-link a:hover {
    text-decoration: underline;
}

@media only screen and (max-device-width: 1024px) {
    .image {
        height: 200px;
        width: 334px;
    }
}

@media only screen and (max-device-width: 720px) {
    .image {
        height: 150px;
        width: 250px;
    }
}

@media only screen and (max-device-width: 480px) {
    .image {
        height: 100px;
        width: 167px;
    }
}

